{% extends "layout.html" %}
{% block content %}
    <section class="banner-section">
        <div class="pattern-layer">
            <img class="pattern-1" src="http://st.ourhtmldemo.com/new/Naxly/assets/images/shape/shape-56.png"/>
            <img class="pattern-2" src="http://st.ourhtmldemo.com/new/Naxly/assets/images/shape/shape-55.png"/>
        </div>
        <div class="icon-layer">
            <div class="icon icon-1 rotate-me" style="background-image: url(http://st.ourhtmldemo.com/new/Naxly/assets/images/icons/wheel-2.png);"></div>
            <div class="icon icon-2 rotate-me" style="background-image: url(http://st.ourhtmldemo.com/new/Naxly/assets/images/icons/wheel-3.png);"></div>
            <div class="icon icon-3 rotate-me" style="background-image: url(http://st.ourhtmldemo.com/new/Naxly/assets/images/icons/wheel-4.png);"></div>
            <div class="icon icon-4 rotate-me" style="background-image: url(http://st.ourhtmldemo.com/new/Naxly/assets/images/icons/wheel-5.png);"></div>
        </div>
    </section>

{% endblock content %}
