<!DOCTYPE html>
<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main2.css') }}">
    <head>
        {% if title %}
            <title>Mathology - {{ title }}</title>
        {% else %}
            <title>Mathology</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="https://mail.google.com/mail/u/0?ui=2&ik=2a547c4c1c&attid=0.1&permmsgid=msg-a:r9219216571858713350&th=174e8982e59d394f&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9ADUlE-IXzD4IiE7XJBaJG00NclkGKy50p8c6EUWdhwn-0xUWQpB7Ywx5HuislFVk0J12keKOb7RJaMGMhmfpR4jjs9YeOgPmYDwsmboosRUz0TWBWozGM3nk&disp=emb&realattid=ii_kfs17vqw0" class="d-inline-block align-top" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto" style="height:60px;">
                            <a class="nav-item nav-link" href="/" style="padding:20px; width:140px;">Ana Səhifə</a>
                            <a class="nav-item nav-link" href="/about" style="padding:20px;">Haqqımızda</a>
                            <a class="nav-item nav-link" href="/rfo" style="padding:20px; width:275px;">Respublika Fənn Olimpiadaları</a>
                            <a class="nav-item nav-link" href="/internationalolimpiads" style="padding:20px; width:240px;">Beynəlxalq Olimpiadalar</a>
                            <a class="nav-item nav-link" href="/advice" style="padding:20px;">Məsləhətlər</a>
                            <a class="nav-item nav-link" href="/discussion" style="padding:20px;">Müzakirə</a>
                        </div>

                        <!-- Navbar Right Side -->
                        <!-- <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/login">Login</a>
                            <a class="nav-item nav-link" href="/register">Register</a>
                        </div> -->
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            <div class="row">
                <div class="col-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>